

    <link rel="stylesheet" href="/css/logoled.css">

	
		<img src="/css/shopy1.png" class="logoHexagon">
	<div class="hexagonMain" >
		<div class="rowHexagon" style="background-color:#000;" >
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
		</div>
	
	

		<div class="rowHexagon" style="background-color:#000;">
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>

		</div>



		<div class="rowHexagon" style="background-color:#000;">
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>
			<div class="hexagon"></div>

		</div>
	

	</div>



