/*** INDEX */
.imgContainer
{
	width: 1100px;
	display: flex;
    justify-content: space-between;
	margin-top: -400px;
	margin-left: 110px;

}


.imgeffect{
	margin-left: 40px;
	-webkit-box-reflect: below  1px linear-gradient(transparent,transparent,#0004);
	transform-origin: center;
	max-width: 350px;
	transform: perspective(800px) rotateY(20deg);
	transition: 0.5s;
	
}

.imgContainer:hover .imgeffect
{
	opacity: 0.1;
}
.imgContainer .imgeffect:hover
{
	transform: perspective(800px) rotateY(0deg);
	opacity: 1;
}

.msiTxt{
	position: relative;
	top: -155px;
	left:365px;
}
.razTxt{
	position: relative;
	top: -155px;
	left:473px;
}
.asusTxt{
	position: relative;
	top: -155px;
	left:210px;
}

/*******/


.RazCompanyInfo{
position: relative;
text-align: center;
margin-left: 95px;
margin-right: 95px;
font-size: 30px;
top: -650px;
}

.AsusCompanyInfo{
	position: relative;
	text-align: center;
	margin-left: 95px;
	margin-right: 95px;
	font-size: 30px;
	top: -620px;
	}

.companyLogo{
	position: relative;
	top: -600px;
	left:543px;
}