<%- include('../partials/navbar.ejs') -%>

<%- include('../partials/ledLogo.ejs') -%>

<img src="/css/asus.png"  height="150px" width="220px" class="asusTxt">

<img src="https://1000logos.net/wp-content/uploads/2018/10/MSI-Logo-2009.png" height="120px" width="220px" class="msiTxt">
<img src="https://download.logo.wine/logo/Razer_Inc./Razer_Inc.-Logo.wine.png" height="250px" width="350px" class="razTxt">

<a href="/shops/asusProducts">
<div class="imgContainer">
  <input  type="image" id="image"class="imgeffect"
  src="https://cdn.wallpapersafari.com/0/67/I71PfA.jpg">
</a>

<a href="/shops/MSIProducts">
    <input type="image" id="image" class="imgeffect"
src="https://4kwallpaper.wiki/wp-content/uploads/2019/07/190775.jpg">
</a>

  <a href="/shops/razerProducts">
  <input type="image" id="image" class="imgeffect"
src="https://www.wallpaperflare.com/static/923/153/195/razer-logo-wallpaper.jpg">
</a>
</div>




             <%- include('../partials/footer.ejs') -%>