
    
<%- include('../partials/header.ejs') -%>
<%- include('../partials/navbar.ejs') -%>
<%- include('../partials/flashMessage.ejs') -%>



MSI


<div class="container">	
  <div class="os-phrases" id="os-phrases">
    <h2>Sometimes it's better</h2>
    <h2>to hide</h2>
    <h2>in order to</h2>
    <h2>survive evil</h2>
    <h2>MSI</h2>
  
  </div>
</div><!-- /container -->


<div class="img-container" data-slideshow>
  
  <img src="https://laptopmedia.com/wp-content/uploads/2020/06/msigp65leopard10sxfeatured.jpg">

  <img src="https://storage-asset.msi.com/global/picture/features/VGA/GTX1660Ti/Gaming/1660-Ti-Gaming-KV.jpg">
  <img src="https://www.wallpapertip.com/wmimgs/29-294933_asus-rtx-2070-super.png">
  <img src="https://storage-asset.msi.com/global/picture/image/feature/mb/Z270/B250I/msi-b250i_h270i_gaming_pro_ac-memory-hero.jpg">
  <img src="https://img3.goodfon.com/wallpaper/nbig/4/47/msi-micro-star-international.jpg">
  </div>

  <div class="ledbody">
    <div class="box">
      <span class="glass"></span>
    </div>
  </div>
<%- include('../partials/footer.ejs') -%>