<%- include('../partials/header.ejs') -%>
<%- include('../partials/navbar.ejs') -%>

<!-- Manage Products-->
    <div class="container mt-4">
            <div class="col-md-9-mt-4">
                <h1 class="display-4"> Manage Products</h1>
                <hr>

                <button type="button" class="btn btn-outline-success btn-lg mt-2 mr-4">
                    <a href="/shopUsers/logout">Show Products</a>          
               </button>

               <button type="button" class="btn btn-outline-success btn-lg mt-2 mr-4">
                <a href="/shopAdmin/editProducts">Edit Products</a>          
           </button>

           <button type="button" class="btn btn-outline-success btn-lg mt-2 mr-4">
            <a href="/shopUsers/logout">... Products</a>          
       </button>
        </div>
    </div>
</div>


<!-- Manage Members -->
<div class="container mt-5">
    <div class="col-md-9-mt-4">
        <h1 class="display-4">Manage Members</h1>
        <hr>
        <button type="button" class="btn btn-outline-success btn-lg mt-2 mr-4">
            <a href="/shopUsers/logout">Show Members</a>          
       </button>

       <button type="button" class="btn btn-outline-success btn-lg mt-2 mr-4">
        <a href="/shopUsers/logout">Edit Members</a>          
   </button>

        <%- include('../partials/footer.ejs') -%>